<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <a href="/editblog">Edit blog</a>
    <% blogs.forEach(record => { %>
        <h1> <a href="/blogs/<%= record.id %>"> <%= record.title%></a> </h1>
        <h2> <%= record.summary%> </h2>
        <h3><%= record.postdate%> </h3>
        <img src="<%= record.imgurl %>" alt="">
        <hr>
    <% }) %>
    
    

</body>
</html>